/* GENERAL STYLES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 10px;
}

#root{
    max-width: 1000px;
    width: 1000px;
    margin: 0 auto;
}


/* HEADER */
header{
    height: 250px;
    margin-bottom: 30px;
}

header img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: drop-shadow(0 0 0.75rem crimson);
}


/* SLIDER */
.slider{
    position: relative;
}

/* Prev, Next */
.slider .prev,
.slider .next{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    color: #fff;
    background-color: rgba(0,0,0, 0.7);
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.4s;
}

.slider .prev{
    left: 10px;
}

.slider .next{
    right: 10px;
}

.slider .prev:hover,
.slider .next:hover{
    background-color: rgba(0,0,0, 1);;
}

/* Img-wrapper */
.img-wrapper{
    height: 600px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px 5px rgba(50, 20, 220, 0.4);
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Nav-dots */
.slider .nav-dots{
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 25px;
    background-color: rgba(0,0,0, 0.7);
}

.slider .nav-dots i{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    transition: color 0.4s;
    cursor: pointer;
}

.nav-dots i.pokeball{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-image: url(../img/pokeball.png);
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: center;
}

.slider .nav-dots i:hover{
    color: #fff;
}
